# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Data
*data/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
dbt_project/medical_telegram_pipeline/target/
dbt_project/medical_telegram_pipeline/logs/

# Databases
*.db
*.sql

# Misc
*.log
*.DS_Store
*.session
session_medical.session
